*{ 
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body{background-image: url(img/bbackground.png); background-repeat: no-repeat;
    background-position-x: center; background-repeat: no-repeat;
    width: 100%;background-position-y: top; background-size: cover;
    justify-content: center; height: 3768px;
    background-size: cover;}

a:link{color: white;}
a:visited{color: white;}
a:hover{color: white;}
a:active{color: white;}

.wrap{width: 1100px;height: 2018px;justify-content: center;align-items: center;margin: auto;}
.img4>img{margin-left: -298px;margin-top: 1260px;position: absolute; opacity: 0;cursor: pointer;} 
.img5>img{margin-left: 270px;margin-top: 1260px;position: absolute; opacity: 0;cursor: pointer;} 
.img6>img{margin-left: 838px;margin-top: 1260px;position: absolute; opacity: 0;cursor: pointer;} 
.img1>img{margin-left: -298px;margin-top: 1260px;position: absolute;} 
.img2>img{margin-left: 270px; margin-top: 1260px; position: absolute;}
.img3>img{margin-left: 838px; margin-top: 1260px; position: absolute;}
.img4>img:hover{opacity: 100%; transition: 0.5s;}
.img4>img:not(hover){transition: 0.5s;}
.img5>img:hover{opacity: 100%; transition: 0.5s;}
.img5>img:not(hover){transition: 0.5s;}
.img6>img:hover{opacity: 100%; transition: 0.5s;}
.img6>img:not(hover){transition: 0.5s;}



header{align-items: center;justify-content: center;display: flex;margin: 16px;}

header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    height: 60px;
    display: flex;
    justify-content: center;
}
nav ul{
    height: 60px;
    width: 475px;
    display: flex;
    justify-content: space-between; 
}
nav ul a{
    display: block;
    width: 118.75px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "forma-djr-banner", sans-serif;    
    font-style: normal;
    font-size: 40px;
    letter-spacing: -0.3px; text-decoration: none;
position: relative;}

nav ul a::before{
    content:'';
    height: 3px;
    width: 0;
    background-color: white;
    border-radius: 10px;
    transition: 0.3s;
    position: absolute;
    bottom: 7px;
    left: 0;
}

nav ul a:hover::before{
    width: 100%;
    background-color: white;
}

    